@{
    ViewBag.Title = "Hello Smartsheet";
}

<h2>Hello Smartsheet</h2>
@if (ViewBag.logout == true)
{
    <span>You have been logged out.</span>
        <br/>
}

<span><a href="/HelloSmartsheet/Start">Get my sheets!</a></span>
